body{
    font-family : "Plus Jakarta Sana",sans-serif !important;
    display: flex;
    flex-direction: column ;
    min-height: 100vh;
}
.container{
    flex:1;
}

/* Navbar */
.navbar{
    height :4rem;
    background-color: white;
} 

.fa-compass{
    color:#fe424d;
}
.nav-link{
    color :#222222 !important; 
}

 
/* fotter */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration:underline;
}

.f-info-links,.f-info-socials, .f-info-brand{
    width:100%; 
    display:flex;
    align-items:center;
    justify-content:center;

}
/* .f-info-socials{
    width:100%;

  
} */
.f-info-socials i {
    font-size:1.2rem ;
    margin-right: 1rem;
}
.f-info{
   text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: space-evenly;
}

/* card */
.listing-card{
    border :none !important;
    margin-bottom :2rem;

}

.card-img-top{
    border-radius : 1rem !important;
    width: 100% !important;
    height: 250px ! important;
    object-fit: cover !important;

}
.card-body{
    padding:0 !important;
}

.card-text p {
    font-weight :400 !important;
}

.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity :0;
}

.card-img-overlay:hover{
    opacity : 0.2;
    background-color: white;
}

.add-btn{
    background-color: green !important;
}
.edit-btn{
    background-color: green !important;
}


.show-img{
     height:30vh;
}

.btns{
     display: flex;
}
.delete-btn{
    background-color: #fe424d;
}
.show-card{
   padding-left: 0;
   padding-right:0;

}